<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Order summary </h2>
    <p>Placed by <%= @order.email %></p>
  </div>
  <div class= "panel-body">
  <table class="table table-bordered">
    <thead>
      <th></th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Item Total</th>
    </thead>
    <tbody>
    <%= render @order.line_items %>
    </tbody>
  </table>
  <h4>Order total: <%= @order.order_total %> </h4>
  </div>
</div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
