<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <% if @product.sold_out? %>
          <dd class="sold-out">Sold out</dd>
          <% else %>
          <dd><%= @product.quantity %></dd>
          <% end %>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>User Rating</dt>
          <dd>
            <% if @product.has_reviews? %>
              <%= @product.overall_rating %> out of 5
            <% else %>
              Not yet rated
            <% end %>
        </dl>
      </div>
    </div>

  </article>
<% if session[:user_id] %>
</section>
<section class="product-review-form">
  <article class="panel panel-default">
    <div class="panel-heading">
      <h3>Create a Review:</h3>
        <%= form_for [@product, @review] do |f| %>
          <%= f.label :rating %><br>
          <p><%= f.select :rating, (0..5) %></p>
          <%= f.label :description %><br>
          <p><%= f.text_area :description %></p>
          <p><%= f.submit %></p>
      <% end %>
    </div>
  </article>
</section>
<% end %>


<section class="product-reviews">
  <article class="panel panel-default">
    <div class="panel-heading">
      <h3>Product Reviews</h3>
    </div>
    <% if @product.has_reviews? %>
    <% @product.reviews.reverse.each do |review| %>
      <div class="product-review panel-body">
        <p> Rating: <%= review.rating %>/5</p>
        <p><%= review.description %></p>
        <% if current_user.id == review.user_id %>
          <%= button_to "Delete", review, method: :delete %>
        <% end %>

    </div>
    <% end %>
    <% else %>
        <p> No reviews yet! </p>
      <% end %>
    </article>
  </section>
